<%- include('../includes/header.ejs') %>
<body>
    <main class="main">
        <form class="login-form" action="/login" method="POST">
            <div class="main_name centered">Guess Me</div>
            <hr>
            <div class="form-control">
                <input 
                    type="text" 
                    name="username"
                    placeholder="Enter your username here"
                    id="username">
            </div>
            <div class="centered"><button class="btn centered" type="submit">Login</button></div>
        </form>
    </main>
</body>
</html>