<%- include('includes/header.ejs') %>
<body>
    <h2>Hii there!!</h2><h1>Remember the position of all the colors!</h1>
    <h3>Are You Ready! <span><a href="/startgame" class="btn">Start Game</a></span></h3>
    <div class="grid-container">
        <% for (var i =0; i < 10;  i++ ) { %>
            <div class="grid-item">
                    <button type="submit" class="form-button" style="background-color: <%= colorsArr[i] %>;"><%= i+1 %></button>
            </div>
        <% } %>
    </div>
</body>
</html>