<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Hello there!!</h1>
    <div class="grid-container">
        <% for (var i =0; i < 10;  i++ ) { %>
            <div class="grid-item">
                <form class="game-button-form" action="evaluate" method="POST">
                    <input type="hidden" name="colorname" value="<%= colorsArr[i] %>">
                    <button type="submit" class="form-button" style="background-color: <%= colorsArr[i] %>;"><%= i+1 %></button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>