<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/instructions.css">
</head>
<body>
    <div class="instructions__outer">
        <div class="instructions">
            <h2>Game Instructions</h2>
            <p><span style="font-size: x-large; color: #ffffd6;">Guess Me</span> consist of 6 rounds. Before start the game, you would see 10 color boxes in screen. You're supposed to try to remember the exact position of those boxes. IN EACH ROUND YOU HAVE TO GUESS THE RIGHT COLOUR BY CLICKING ON THE BUTTON. IF THE GUESS IS RIGHT, THEN YOU ARE AWARDED WITH POSITIVE POINTS. IF THE GUESS IS WRONG, THEN YOU ARE AWARDED WITH NEGATIVE POINTS. After each guess you moves to the next round and on completion of round 6 the game gets over.</p>
            <p>At the end of the game the score will be displayed.</p>
            <div><a href="/home" class="btn">Go Back</a></div>
        </div>
    </div>
</body>
</html>