<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <h2 class="centered">Hello <span style="font-size: larger;"><%= user.username %></span>, Your high score is <span style="font-size: larger;"><%= user.score %></span> </h2>
</body>
</html>