.main{
    display: flex;
    align-items: center;
    height: 500px;
}
.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.form-control {
    margin: 1rem 0;
    /* border: 1px solid black; */
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 90%;
    margin: 0 auto 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
    padding: 5px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #0384fc;
    padding: 5px;
}

.add-contact-form {
    width: 100%;
    /* max-width: 90%; */
    margin: auto;
    display: block;
    /* border: 1px solid black; */
}

.telNmail{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto 0.25rem;
}

.plus-icon{
    margin-left: 10px;
    cursor: pointer;
}

.form-control input.invalid{
    border-bottom: 2px solid red;
}

input{
    background-color: transparent;
    color: white;
}
::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    text-align: center;
}

button.form-button{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15vw;
    height: 30vh;
    border: 1px solid black;
    border-radius: 10px;
    font-size: xx-large;
}

@media only screen and (max-width: 800px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        text-align: center;
    }
    
    button.form-button{
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 20vw;
        height: 30vh;
        border: 1px solid black;
        border-radius: 10px;
        font-size: xx-large;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        text-align: center;
    }
    
    button.form-button{
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 25vw;
        height: 20vh;
        border: 1px solid black;
        border-radius: 10px;
        font-size: xx-large;
    }
}