body{
  overflow-x: hidden;
  background-image: url('/1116146294-login-page-background-image-112.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #007db3;
  color: white;
}
form{
  display: inline;
}

.centered {
  text-align: center;
}

.main_name{
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
  display: flex;
  justify-content: space-around;
  color: #b4c8fa;
  align-items: center;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  padding: 10px 25px;
  font: inherit;
  border: 1px solid white;
  color: white;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
}

.btn:hover,
.btn:active {
  background-color: white;
  color: black;
}
.anchor{
  text-decoration: none;
  color: black;
  padding: 10px;
}
.anchor:hover{
  color: white;
}